p{
    font-family: Arial; 
    color: #feffbf; 
    text-align: center;
    position: relative;
    top: 450px;
    
}  



img{
    height: 250px; 
    border: 12px double red; 
    position: absolute;
    left: 555px;  
    top: 105px;
    
}


body{
    background-color: #ffbffe;
     
    
    
    
    
}


