p{
    font-family: Arial; 
    color: black;  
    position: relative; 
    top: 450px;
    
}  



img{
    height: 250px; 
    border: 12px double yellow; 
    position: absolute;
    left: 255px;   
    top: 105px;
    
}


body{
    background-color: pink; 
     
    
    
    
    
}

div{ 
    color: #ff4747;  
    
    
}


a{
    color: yellow;  
    
     
    
    
}





